/*sets the background color of the whole page*/
body{
	background-color: #F9EBEA
}

/*design for the h1 tag */
h1{
	font-size: 40px;
	font-family: "Manjari", Manjari, bold;
	color: #EC7063;
}

/*design for the names of the borders */
legend{
	font-size: 20px;
	font-family: "Manjari", Manjari, regular;
	color: #2E4053 ;
}

/*designs the border color */
fieldset{
	border-color: #F1948A;
}

/*design all the labels */
label{
	font-family: "Manjari", Manjari, bold;
	color: #1C2833;
}